/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}


/* Variables */

:root {
    --content-bg: #212121;
    --main-green: #1db954;
    --black: #121212;
    --footer-grey: #535353;
    --light-grey: #b3b3b3;


  } 

/* Typography */

