/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}


/* Variables */

:root {
    --content-bg: #212121;
    --main-green: #1db954;
    --black: #121212;
    --footer-grey: #535353;
    --light-grey: #b3b3b3;



  } 

/* Typography */

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 2;
    color: var(--light-grey);
    
}

h1 {

    font-weight: 800;
    font-size: 2.2em;
}

h2 {
    font-weight: 700;
    font-size: 1em;
    color: white;
}

/* Header */

.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 200px);
    height: 100px;
    background-color: #12121273;
    z-index: 99;
}

.main-nav {
    position: fixed;
    left: 0;
    top:0;
    padding: 1.2rem;
    height: calc(100% - 100px);
    width: 200px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
   justify-content: space-between;

}

.logo {

    width: 120px;
    margin-bottom: 1rem;
}

.main-nav .nav-bar .menu ul {
    list-style: none;
    font-size: 0.8rem;
}

.main-nav .nav-bar .menu ul li {
    width: 100%;
    height: 2.5rem;
    font-weight: 600;
    
    
    vertical-align: middle;
    margin: 0.5rem 0;
   
    
}

.main-nav .nav-bar .menu ul li svg {

    fill: var(--light-grey);
    max-height: 1.8rem ;
    vertical-align: -7px;
    
}

.main-nav .nav-bar .menu ul li a { 

    text-decoration: none ;
    color: var(--light-grey);
    display: inline;
    
}

.main-nav .nav-bar .menu ul li a:hover { 

   color: white;   
}

.main-nav .nav-bar .menu ul li a:hover svg{ 

    fill: white;   
 }
 



/* MENU SELECTED */

.selected {
    
    position: relative;
       
}
.main-nav .nav-bar .menu ul li .selected-text {
    color: white;
}

.selected-bar {
    position: absolute;
    background-color: var(--main-green);
    left: -1.2rem;
    top: -0.3rem;
    /* transform: translatey(-15%); */
    height: 100%;
    width: 3px;    
}
/* ------------------ */

/* NAV Playlist */

.nav-playlist {
    margin: 1.6rem 0;
}

.nav-playlist .crea-list-btn {
    margin: 1rem 0;
   
}

.nav-playlist .crea-list-btn i {
    font-size: 2.6rem;
    vertical-align: middle;
    margin-right: 5px;
}

     /* Main Nav Button */

.crea-list-btn button {
    border: none;
    text-decoration: none;
    background-color: var(--black);
    font-size: 1rem;
    color: var(--light-grey);
    cursor: pointer;
}

.crea-list-btn button:hover {
   color: white;
}

.playlist {
    max-height: 25vh;
    overflow: auto;
}

.playlist ul {
    list-style: none;
    
}

.playlist ul li:hover {
    color: white;
    cursor: pointer;
}

/* NAV client */

.nav-client {
    
}

.client-holder {
    display: flex;
    align-items: center;
}

.client-img {
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    background-color: var(--light-grey);
    margin-right: 0.5rem;
}

.client-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 20px;
   
}

/* Buttons */
.app-install-holder {
    border-bottom: 1px solid var(--light-grey) ;
    margin-bottom: 1rem;
   
}

.install-btn  {
    border: none;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    color: var(--light-grey);
    cursor: pointer;
    
}

.install-btn::before {
    content: url(../img/download.svg);
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    vertical-align: middle;

}

.install-btn:hover  {
    color: white;    
}

/* MAIN */

.main-container {
    position: absolute;
    right: 0;
    width: calc(100vw - 200px);
    height: calc(100% - 100px);
    overflow: auto;
    background-color: #535353;
    width: ;

}

.content {
    height: 300vh;
}
/* FOOTER "PLAYER" */

footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100vw;
    background-color: var(--content-bg);
    
}

.player-container {
    color: white;
}

.song,
.controller {
    
    width: 25%;
    height: 100px;
    
   
}

.cover, .song-title {
   
   margin-left: 1.2rem;
   flex: 0 0 auto;
   

}

.song-tag {
  margin-left: 3rem;
}

.song-tag i {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--light-grey);
}

.song-tag i:hover {
    color: white;
    cursor: pointer;
}



.player-container .song {
    display: flex;
    align-items: center;
  
    
}

.cover {
    height: 4.5rem;
    width: 4.5rem;
   
}

.song .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-title {
    font-weight: 700;
    line-height: 1.2;
}

.song-sub-title {
    font-weight: 400;
    color: var(--light-grey);

}